.spinner-container {
    width: 55px;
    height: 55px;

}

.d-none{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
}

.spinner::after {
    content: '';
    width: 25px;
    height: 25px;
    top: 0;
    position: absolute;
    left: 50px;
    border-radius: 50%;
}


.spinner.material::after {
    border-top: 4px solid rgba(0, 191, 215, 1);
    border-left: 4px solid rgba(0, 191, 215, 1);
    border-bottom: 4px solid rgba(0, 191, 215, 1);
    border-right: 4px solid rgba(0, 191, 215, 0);
    animation: spinner 0.6s linear infinite;
}

@keyframes spinner {
    to {
        transform: rotate(360deg);
    }
}